.four-blocks{
    padding: $gutter/1.5 0;
    .section-title{
        padding-bottom: 30px;
    }
}
.four-blocks__content{
    padding: 0 10%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    @include media-breakpoint-down(md) {
        padding: 0;
    }
}


.four-blocks__list{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
    gap: 60px;
    padding-top: 40px;
    @include media-breakpoint-down(sm){
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
.four-blocks__item{
    img{
        vertical-align:middle;
        width: 100%;
        height: auto;
        @include media-breakpoint-down(sm){
            width: 50%;
        }
    }
}

.four-blocks__item--icon{
    display: flex;
    justify-content: center;
    svg{
        width: 110px;
        height: 110px;
        //defoult backgorund
        background: linear-gradient(231.01deg, #E75585 -10.69%, #3D85F5 103.39%);
        border-radius: 50%;
        color: white;
    }
} 

.icons__special-tilte{
    width: 70%;
    margin: 0 auto;
    @include media-breakpoint-down(md){
        width: 100%;
        margin: 0;
    }
}
.four-bloks__item--content{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: lowercase;
    padding-top: 17px;
}