.gallery__content{
    .gallery-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
    }
    .gallery-item{
        position: relative;
        height: 0;
        padding-top: 100%;
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
        &.active{
            display: none;
        }
    }
    .gallery-main{
        position: relative;
        height: 0;
        padding-top: 100%;
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    .block-title{
        padding-bottom: 20px;
    }
}