
.gallery{
    padding: $gutter/2  0 $gutter*1.5;
}
.gallery__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #313131;
}

.gallery__subtitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #313131;
}

.gallery__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 30px;
    padding-top: $gutter/2;
}

.gallery__item{
    position: relative;
    height: 0;
    padding-top: 100%;
    img{
        position: absolute;
        top:0; 
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}