.image-present{
    padding: $gutter/1.5 0;
}
.image-present__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 28px;
}
.image-present__content{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.image-present__warp{
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: 100%;
    position: relative;
}
.image-present__imgdesc{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.image-present__img{
    padding: $gutter/3 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}