.jumbo-present{
    padding: $gutter*1.5 0;
}

.jumbo-present__jumbo{
 img{
     max-width: 100%;
 }
}
.jumbo-present__gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
}
.jumbo-present__gallery-item{
    height: 0;
    padding-top: 66.8%;
    position: relative;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}