.results{
    .results__title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 51px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .results__content{        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 7px;
    }
    padding: $gutter/1.5 0;
    background: linear-gradient(236deg, #EB1F4F 6.56%, #FB912F 93.44%);
    .results__list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(222px,1fr));
        gap: 90px 15px;
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .results__item{
        color: white;
        text-align: center;
        svg{
            max-width: 100%;
        }
    }
    .results__item-text{
        padding-top: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        color: #FFFFFF;
    }
}