.site-present{
    margin: $gutter 0;
    padding: $gutter 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top:0;
        right: 0;
        width: 50%;
        height: 100%;
        background: #F4F4F4;
    }
}

.site-present__warp{
    position: relative;
}

.site-present__desktop{
    position: relative;
    height: 0;
    padding-top: 61.9%;
    img{
        position: absolute;
        top: 20px;
        left: 95px;
        height: calc(100% - 100px);
        width:  calc(100% - 190px);
        object-fit: contain;
        z-index: 1;
    }
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: url('/wp-content/themes/timber-boilerplate-master/img/desktop-background.png');
        background-position: center;
        background-size: cover;
        content: '';
    }
}

.site-present__mobile{
    position: absolute;
    bottom: 21px;
    right: 95px;
    z-index: 99;
    height: 70%;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}