.story-board{
    padding: $gutter 0;
}
.story-board__warp{
    position: relative;
    padding-top: 68px;
}
.story-board__warp-title{
    font-family: Guthen Bloots;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 1;
    /* or 38% */
    color: #13735C;
    align-items: center;
    text-align: center;
    z-index: 99;
    position: absolute;
    top:20px;
    width: 100%;
}
.story-board__item-img{
    img{
        width: 100%;
        padding-bottom: 20px;
    }
}
.story-board__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 30px;
}
.story-board__content{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.story-board__text{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}