.video-present{
    padding: $gutter 0;
}
.video-present__backgorund{
    padding: $gutter 0 $gutter*2;
    // defoult backgorund 
    background: url('/wp-content/themes/timber-boilerplate-master/img/background-lig.jpg');
    background-position: center;
    background-size: cover;
}
.video-present__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    align-items: center;
    text-align: center;
    color: white;
}
.video-present__slogan{
    font-family: Montserrat;
    font-style: normal;
    font-size: 38px;
    line-height: 46px;
    align-items: center;
    text-align: center;
    color: white;
}

.video-present__iframe {
    overflow: hidden;
    position: relative;
    width:100%;
    max-width: 869px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    &::after {
        padding-top: 56.25%;
        display: block;
        content: '';
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-present__gallery-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
    margin-top: -100px;
}

.video-present__gallery-item{
    position: relative;
    height: 0;
    padding-top: 66.8%;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}