

{% if layout %}
    {% if layout.acf_fc_layout == 'content_block' %}
      {% include "partials/blocks/block-" ~  layout.block_type ~ ".twig" with {'type': layout} %}
    {% elseif layout.acf_fc_layout == 'title' %}     
      {% include "partials/components/sec-title.twig" with {'type': layout} %}
    {% elseif layout.acf_fc_layout == 'quote_block' %}  
      {% include "partials/components/quote.twig" with {'type': layout} %}
    {% elseif layout.acf_fc_layout == 'title' %}
      {% include "partials/components/sec-title.twig" with {'type': layout} %}
    {% elseif  layout.acf_fc_layout =='padding_box' %}
    {{ ('<section class="padding_box" style="height:' ~  layout.size ~ 'px;">') }}
            <div class="container">
              <div class="row"></div>
            </div>
          </section>
    {% elseif  layout.acf_fc_layout =='iframe_block' %}
      <section class="iframe-block">
        <div class="container">
          <div class="row">
            {{ layout.iframe }}
          </div>
        </div>
      </section>
    {% elseif  layout.acf_fc_layout =='image' %}
      {% include "partials/components/image.twig" with {'type': layout} %}
    {% elseif  layout.acf_fc_layout =='icon_list' %}
      {% include "partials/components/iconlist.twig" with {'type': layout} %}  
    {% elseif  layout.acf_fc_layout =='accordion_block' %}
      {% include "partials/components/accordion.twig" with {'type': layout} %}
    {% elseif  layout.acf_fc_layout =='header' %}
      {% include "partials/components/header.twig" with {'type': layout} %}  
    {% elseif  layout.acf_fc_layout =='image_present' %}
      {% include "partials/components/image_present.twig" with {'type': layout} %}  
    {% elseif  layout.acf_fc_layout =='story_board' %}
      {% include "partials/components/story_board.twig" with {'type': layout} %} 
    {% elseif  layout.acf_fc_layout =='jumbo_present' %}
      {% include "partials/components/jumbo.twig" with {'type': layout} %} 
    {% elseif  layout.acf_fc_layout =='video_present' %}
      {% include "partials/components/video.twig" with {'type': layout} %} 
    {% elseif  layout.acf_fc_layout =='site_present' %}
      {% include "partials/components/site.twig" with {'type': layout} %}
    {% elseif  layout.acf_fc_layout =='results' %}
      {% include "partials/components/results.twig" with {'type': layout} %}
    {% elseif  layout.acf_fc_layout =='gallery' %}
      {% include "partials/components/gallery.twig" with {'type': layout} %}
    {% endif %}
  {% endif %}