<header class="header">
  <div class="lines">
    <img src="/wp-content/themes/timber-boilerplate-master/img/lines-blue-top.png">
  </div>
  <div class="logo">
    <img src="/wp-content/themes/timber-boilerplate-master/img/logo-complete 1.png">
  </div>
  <div class="menu">
    <div class="menu-title">
      Menu
    </div>
    <div class="menu-icon">
      <svg>
        <use xlink:href="#svg_menu" />
      </svg>
    </div>
  </div>
</header>