<section class="accordion-tabs">
    <div class="container">
        <div class="row">
            <div class="col-8">
            {% for tab in type.accordion_tabs %}
                <button class="accordion">{{ tab.accordion_title }}</button>
                <div class="panel">
                    {{ tab.accordion_text }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>  
</section>