

<section id="{{ type.block_id }}" class="gallery">
    <div class="container">
        <div>   
            <div class="gallery__title">
                {{ type.title }}
            </div>
            <div class="gallery__subtitle">
                {{ type.subtitle }}
            </div>
        </div>
        {% if type.gallery %}
        <div class="gallery__list">
            {% for img in type.gallery %}
            <div class="gallery__item">
                <img src="{{ img|towebp }}">
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>