{{ '<section  id="' ~ type.block_id ~ '" class="header-component header-component--desktop" style="background:url( ' ~ type.img|towebp ~ ');" >' }}
    {% if type.title %}
    <h1>{{ type.title }}</h1>
    {% endif %}
</section>
{% if type.img_mobile %}
{{ '<section  id="' ~ type.block_id ~ '" class="header-component header-component--mobile" style="background:url( ' ~ type.img_mobile|towebp ~ ');" >' }}
    {% if type.title %}
    <h1>{{ type.title }}</h1>
    {% endif %}
</section>
{% endif %}