

<section id="{{ type.block_id }}" class="four-blocks">
    <div class="container">
        <div class="text-center content-block__title">
            <h2 class="section-title">
                {{ type.title }}
            </h2>
        </div>
        <div class="text-center four-blocks__content">
            {{ type.content }}            
        </div>
        <div class="four-blocks__list">        
            {% if type.icon_list %}
                {% for icon in type.icon_list %} 
                    <div class="four-blocks__item">
                        {% if icon != 'noicon' %}
                            <div class="four-blocks__item--icon">
                                {{ '<svg style="background:' ~ get_background_gradient_color(icon['background_icon'])~ '">' }}
                                    <use xlink:href="#svg_{{ icon['icon']['icons']}}" />
                                </svg>
                            </div>
                        {% endif %} 
                        <div class="four-bloks__item--content">
                            {{ icon['content'] }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %} 
        </div>
    </div>
</section>