

<section id="{{ type.block_id }}" class="image-present">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="image-present__title">
                    {{ type.title }}
                </div>
                <div class="image-present__content">
                    {{ type.content }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-present__warp">
                    <div  class="image-present__img">
                        <img src=" {{ type.img_left|towebp }}">
                    </div>                
                    <div class="image-present__imgdesc">
                        {{ type.img_left_text }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-present__warp">
                    <div  class="image-present__img">
                        <img src=" {{ type.img_right|towebp }}">
                    </div>                
                    <div class="image-present__imgdesc">
                        {{ type.img_right_text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>