

<section id="{{ type.block_id }}" class="jumbo-present">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="image-present__title">
                    {{ type.title }}
                </div>
                <div class="image-present__content">
                    {{ type.content }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="jumbo-present__jumbo">
                    <img src=" {{ type.jumbo_img|towebp }}">             
                </div>
            </div>
        </div>
        {% if type.jumbo_gallery %}
        <div class="jumbo-present__gallery">
            {% for img in type.jumbo_gallery %}
            <div class="jumbo-present__gallery-item">
                <img src="{{ img|towebp }}">
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>