
<section id="{{ type.block_id }}" class="results">
    <div class="container">
        <div class="results__title">
            {{ type.title }}
        </div>
        <div class="results__content">
            {{ type.content }}
        </div>
        {% if type.list_results %}
        <div class="results__list">
            {% for res in type.list_results %}
                <div class="results__item">
                   <svg>
                        <use xlink:href="#svg_{{ res['icon_block']['icons']}}" />
                    </svg>
                    <div class="results__item-text">
                        {{ res['text'] }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>