

<section id="{{ type.block_id }}" class="site-present">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="site-present__warp">
                    <div class="site-present__desktop">
                        <img src=" {{ type.desktop_site_img|towebp }}">             
                    </div>
                    <div class="site-present__mobile">
                        <img src=" {{ type.mobile_site_img|towebp }}">             
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-present__title">
                    {{ type.title }}
                </div>
                <div class="image-present__content">
                    {{ type.content }}
                </div>
            </div>
        </div>
    </div>
</section>