

<section id="{{ type.block_id }}" class="story-board">
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-2 order-md-1">
                <div class="story-board__warp">
                    <div class="story-board__warp-title">- Storyboard -</div>
                    <div class="story-board__list">
                        {% for item in type.story_board_list %}
                            <div class="story-board__item">
                                <div class="story-board__item-img">
                                    <img src="{{ item.img|towebp }}">
                                </div>
                                <!-- <div class="story-board__item-title">
                                    {{ item.img_title }}
                                </div>
                                <div class="story-board__item-desc">
                                    {{ item.img_desc }}
                                </div> -->
                            </div>
                        {% endfor %}
                    </div>
                </div>   
            </div>
            <div class="col-md-3 order-1 order-md-2">
                <div class="story-board__text">
                    <div class="story-board__title">
                        {{ type.title }}
                    </div>
                    <div class="story-board__content">
                        {{ type.content }}
                    </div>
                </div>
            </div>  
        </div>        
    </div>
</section>