<section id="{{ type.block_id }}" class="video-present">
    {{ '<div class="video-present__backgorund" style="background:'~ type.background|towebp ~';">' }}
        <div class="container">
            <div class="video-present__title">
                {{ type.title }}
            </div>
            <div class="video-present__slogan">
                {{ type.slogan }}
            </div>
            <div class="video-present__iframe">
                <iframe width="100%" src="https://www.youtube.com/embed/{{ type.video_iframe }}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="video-present__gallery-list">
            {% for img in type.video_gallery %}
            <div class="video-present__gallery-item">
                <img src="{{ img|towebp }}">
            </div>
            {% endfor %}
        </div>
    </div>
</section>