/* stylelint-disable declaration-no-important, selector-max-universal */
body {
  @include u-set-typography;
  background-color: $color-bg; 
}

a {
  @include t-link-base;
}

.s-textcontent {
  @include t-textcontent;
}

.is-page-loading * {
  transition: none !important;
}

.u-link {
  @include t-link-base;
}

.u-link-button {
  @include t-link-base;
  @include u-remove-button-styling;
}

.icons{
  display: none;
}

//rise background 
@media (min-width: 1380px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1360px;
  }
}