// @include u-font-face('Pragmatica', 'fonts/Pragmatica'[,bold,italic]);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@font-face {
    font-family: 'Guthen Bloots';
    src: url('/wp-content/themes/timber-boilerplate-master/fonts/GuthenBloots.woff2') format('woff2'),
        url('/wp-content/themes/timber-boilerplate-master/fonts/GuthenBloots.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}