.header{
    padding: 0 $gutter/2;
    background: white;
    position: relative;
    text-align: center;
    overflow: hidden;
    .logo{
        display: block;
        align-items:center;
        padding: $gutter/2 0;
    }
    .menu{
        position: absolute;
        right: 30px;
        top: 0;
        display: flex;
        align-items:center;
        height: 100%;
    }
    .menu-title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #000000;
    }
    .menu-icon{
        position: relative;
        width: 44px;
        height: 39px;
        svg{
            position: absolute;
            width: 100%;
            height: 100%;    
            top: 0;
            left: 0;
            z-index: 1;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url('/wp-content/themes/timber-boilerplate-master/img/Vector.png');
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
            z-index: 0;            
        }

    }
    .lines{
        position: absolute;
        left: 0;
        top: 0;
        width: 30%;
        img{
            width: 100%;
        }
    }
}

