// pure appearance (typographic/cosmetic) styles
// please keep here only those mixins that are related to single post styling 

@mixin t-textcontent {
  /* stylelint-disable selector-max-type, selector-max-compound-selectors */

  // preventing text styles leaking into widgets pasted into content area via shortcodes
  & > {
    blockquote {
      font-style: italic; 
    }
    h1{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-size: 100px;
      line-height: 92px;
    }
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-size: 50px;
      line-height: 29px;
    }
    h3 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-size: 28px;
      line-height: 29px;
    }

    p, ul, ol {
      &:not(:only-child) {
        @include u-spacing-y($unit-y, 'margin');
      }
    }
    h2, h3, h4, h5, h6, p, ul, ol {
      &:first-child {
        margin-top: 0; 
      }
      &:last-child {
        margin-bottom: 0; 
      }
    }
    ul li {
      list-style-type: disc; 
    }
    ul, ol {
      li li {
        padding-left: $unit-x * 2; 
      }
    }
  }
  img {
    display:block; 

  }
  iframe {
    width: 100%; 
  }
  .subtitle{

  }

  /* stylelint-enable selector-max-type, selector-max-compound-selectors */
}


// ~ heading level 2
// @mixin t-heading-xxxl {
//   @include u-set-typography('body', 'big-heading');
// }


// ~ heading level 3
// @mixin t-heading-xxl {
// }


// // ~ heading level 4
// @mixin t-heading-xl {
// }


// // ~ heading level 5
// @mixin t-heading-l {
// }


// // ~ heading level 6
// @mixin t-heading-m {
// }

.section-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 26px;
  text-align: center;
}

.block-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  align-items: center;
  color: #313131;
}

.content-block__content{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #313131;
}