{% set item = type.double %}
<section class="content-block bgline__CentralDouble">
    <div class="container">
        <div class="text-center content-block__title">
            <h2 class="section-title">
                {{ item.title }}
            </h2>
            <h3 class="section-title section-title--red">
                {{ item.subtitle }}
            </h3>
        </div>
        {% if item.order == 'lr' %}
      
            {% for item in item.blocks %}
                <div class="row p-lg-5">
                    <div class="col-xl-5  col-lg-6  pb-3 pb-lg-0 d-flex align-items-start justify-content-center flex-column">
                        <h4>{{ item.title }}</h4>
                        <div class="content-block__content">
                            {{ item.content }}
                        </div>
                        <div class="d-lg-none">
                            <img class="br-20" src="{{ item.image }}" alt="">
                        </div>
    
                        <div class="content-block__buttons">
                            {% for button in item.buttons %}
                                <a href="{{ button.button_link }}"> {{ button.button_text }}</a>
                            {% endfor %}    
                        </div>  
                    </div>
                    <div class="col-xl-7 col-lg-6 d-flex justify-content-end">
                        <img class="br-20" src="{{ item.image }}" alt="">
                    </div>
                </div>
            {% endfor %}
            
        {% else %}
            {% if layout %}
                 {% for item in item.blocks %}
                    <div class="row  p-lg-5">
                        <div class="col-xl-5 d-flex align-items-start justify-content-center flex-column col-lg-6">
                            <h4>{{ item.title }}</h4>
                            <div class="content-block__content">
                                {{ item.content }}
                            </div>
                            <div class="d-lg-none">
                                <img class="br-20 " src="{{ item.image }}" alt="">
                            </div>
                            
                            <div class="content-block__buttons">
                                {% for button in item.buttons %}
                                    <a href="{{ button.button_link }}"> {{ button.button_text }}</a>
                                {% endfor %}    
                            </div>  
                        </div>
                        <div class="col-xl-7 col-lg-6 d-flex justify-content-end">
                            <img class="br-20 d-none d-lg-block" src="{{ item.image }}" alt="">
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    </div>
</section>
