{% block content_area_inner %}

{% set item = type.gallery %}
<section id="{{ type.block_id }}" class="gallery__content">     
    <div class="container">
        <div class="row">
            <div class="col-md-5  d-flex align-items-start justify-content-center flex-column {{ item.order == 'rl' ? 'order-md-2' : '' }}">                 
                <h2 class="block-title">
                    {{ item.title }}
                </h2>                 
                <div class="content-block__content">
                    {{ item.content }}
                </div> 
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-9">
                        <div class="gallery-main">
                            <img src="{{ item.gallery[0]|towebp  }}">
                        </div>                        
                    </div>
                    <div class="col-3">
                        <div class="gallery-list">
                            {% for key,img in item.gallery %}
                                <div class="gallery-item {{ key < 1 ? 'active' : ''}}">
                                    <img src="{{img|towebp }}" data-img="{{img|towebp }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}