/* stylelint-disable meowtec/no-px */

// Proportions
$unit-x: rem-calc(10px);
$unit-y: $unit-x;

// Widths

//Thumbnail sizes — same as wp registered sizes unless noted otherwise
// $third-low-height:300px;

// Visual effects

// Transitions & animations
// note that property is omitted 
// $transition-main:ease-out .4s;

// Excluded selectors (only simple selectors)
// use @include t-focused with arguments to set your own styling when element is focused
$classes-exclude-from-focus: (
  'c-selector-1'
  'c-selector-2'
);


// Breakpoints
// usage: @include mq($from: xlarge) {}
$mq-breakpoints: (
  small:  380px,
  medium: 768px,
  large:  1024px,
  xlarge: 1280px,
);

/* stylelint-enable meowtec/no-px */

$gutter: 60px;